<div class="grid-x">
	<div class="small-16 medium-10 large-12 xlarge-6 cell small-order-2 medium-order-1">
		<h2 class="small-text-center">Welcome, friend!</h2>
		<div></div> <!--  ng-bind-html="page.content.rendered | to_trusted" -->
		<p>My name is Aron Patterson, and I'm a Front End Web Developer from Duluth, Minnesota. I love building websites, whether that website is for a small business or a giant corporate empire ready to buy out my local Starbucks – I've done it all. Whether you're a business seeking out your place on the world wide web, or a potential employer looking to hire an experienced developer, I will help you achieve your goals! Feel free to <a href="http://aroonline.com/#/about">learn more about me</a>; check out a small batch of my <a href="http://aroonline.com/developer-portfolio/">custom-developed sites</a>; or cut out the middle man by <a data-open="contactForm">contacting me directly</a>.</p>
		<p>In addition to being a seasoned web developer, I've worn many hats in the past, including: web designer; SEO expert; online marketer; client trainer; and development project manager. That means if you're looking for a full-rounded web developer who can hit the ground running, you've found one of the best.</p>
		<h3>Current Dev Toolset</h3>
		<ul>
			<li>HTML5</li>
			<li>SASS/CSS3</li>
			<li>Foundation 6/Bootstrap 3</li>
			<li>JavaScript/jQuery</li>
			<li>Gulp</li>
			<li>Adobe Creative Suite</li>
		</ul>
	</div>
	<aside class="small-16 medium-6 large-4 xlarge-6 cell small-order-1 medium-order-2 text-center homeSide">
		<img ng-src="{{mvm.shortPath}}img/content_responsive.png">
		<h2>I build <span>responsive</span>.</h2>
		<h3>I build <span>custom</span>.</h3>
		<br />
		<h2><span>SEO</span> pro.</h2>
		<h3><span>WordPress</span> expert.</h3>
		<h4 class="show-for-xlarge">Great taste in t-shirts --&#62;</h4>
	</aside>
</div>
<div id="aronHomeBig" class="show-for-xlarge noPrint">
	<img ng-src="{{mvm.shortPath}}img/home_aron-horrible-pose.png" alt="Web Developer Aron Patterson Posing Awkwardly" />
</div>