<div class="reveal-overlay">
	<div class="large reveal" ng-id="bpModalDesktop_{{site.portId}}" role="dialog" aria-hidden="true">
		<section class="text-center">
			<h3 class="lightText">Desktop View</h3>
			<a ng-if="site.mobileLink" class="button secondary" data-open="bpModalMobile_{{site.portId}}" aria-controls="bpModalMobile_{{site.portId}}" aria-haspopup="true" tabindex="0">Switch to Mobile Site</a>
			<a ng-if="site.desktopLink" class="button secondary" ng-href="{{shortPath}}img/portfolio/mobile/full_size/site_{{site.portId}}.jpg" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i> Full Screenshot</a><br>
			<img src="{{shortPath}}img/portfolio/desktop/full_size/site_{{site.portId}}.jpg" alt="Cruisers Yachts Desktop Full View">
		</section>
		<button class="close-button" ng-click="cancel()" aria-label="Close modal" type="button"><span aria-hidden="true">×</span></button>
	</div>
</div>